.dicas-container {
  /* já importa o padding da classe container */
  padding: 0; /* se quiser pois container já faz */
}
.dicas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.dica-card {
  background-color: var(--card-bg);
  color: var(--text-dark);
  border: 1px solid var(--link-color);
}
.dica-card:hover {
  transform: translateY(-4px);
}
